$white-color: #fff;
$light-blue-color: #f1f4f9;
$light2-blue-color: #d8e4fb;
$dark-color: #2B2D33;
$textsecondary-blue-color: #5e7793;
$dark-blue-color: #adbfdf;
$text-dark-color: #122945;
$blue-color: #002cfb;
$green-color: #28a879;
$light-red-color: #fee9ef;
$red-color: #ea1a4f;
$light-green-color: #dbf8ef;